---
interface Props {
  x: number; /* 起始列坐标 */
  y: number; /* 起始行坐标 */
  cols?: number; /* 占用几列 */
  rows?: number; /* 占用几行 */
  class?: string; /* 可选的自定义类名 */
}

const { x, y, cols = 4, rows = 3, class: customClass } = Astro.props;
---

<div
  class:list={["hook", customClass]}
  data-orig-x={x}
  data-orig-y={y}
  data-orig-cols={cols}
  data-orig-rows={rows}
  style={`--x: ${x}; --y: ${y}; --cols: ${cols}; --rows: ${rows};`}
>
  <div class="peg-pin"></div>
  <!-- 模拟固定钉子 -->
  <slot />
</div>

<style>
  .hook {
    transform: translate(-50%, -6px);
    grid-column: var(--x) / span var(--cols);
    grid-row: var(--y) / span var(--rows);
    display: flex;
    position: relative;
    align-items: center;
  }

  .peg-pin {
    position: absolute;
    top: 0;
    left: 0;
    width: 12px;
    height: 12px;
    background: radial-gradient(circle at 30% 30%, #666, #111);
    border-radius: 50%;
    left: 50%;
    transform: translate(-50%, 0%);
    z-index: 20;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
</style>
